body{
  margin: 0;
  padding: 0;
  background-color: #E8EDED;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;

}

.navbar{
  background: #66666b;
}
.navbar-nav{
  margin-left: 50px;
}
.form-inline{
  margin-left: 130px;
}
.form-control{
  background-color: #E9E9E9;
  
}
.slider1{
  height: 380px;
  width: 100%;
  background: #d6d6dd;
}
.slideimg{
 padding-top: 10px;
  margin: 0 auto;
  width: 98%;
  height: 360px;

}
.carousel-caption{
  margin-bottom: 50px;
}
.category_1{
  background: #ebd4d2;
  width: 100%;
  height: auto;
  
}
.category_info{

color: #000;
margin: auto;

}
.category_link{
  color: #000;
 padding: 15px;
 margin-left: 35px;
 font-size: 18px;
}
 .category_info .category_link:hover{
  color: black;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid black;
 }
 
 .card_img{
  height: 200px;
  width: 100%;
 }
 .view_button1 {
  width: 330px;
  margin: 0 auto;
  border: 3px solid  #ee9086;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  background: #f0a29a;
   
 }
 .category_1 .btn{
  border: 1px solid  #ec887d;
  color: #fff;
  border-radius: 5px;
  background: #f0a29a;

}
.category_2{
  width: 100%;
  height: auto;
  background: #dadadd;
  
}
.category_2 .btn{
  border: 1px solid  #8e8ea7;
  color: #fff;
  border-radius: 5px;
  background: #b7b7c9;

}
.category_2 .view_button2{
  width: 330px;
  margin: 0 auto;
  border: 2px solid  #8e8ea7;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  background: #b7b7c9;
   
 }
 .category_col{
  margin: 0 auto;
 }
 .footer{
  
  height: auto;
  background: #4c4c4e;

 }
 .footer_icon i{
  color: #DADADD;
  font-size: 40px;
  margin-left: 20px;

 }
 .footer_logo{
  color: #DADADD;
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
  

 }
 .footer_icon_link{
  color: #DADADD;
  font-weight: bold;
  margin-left: 40px;
 }
 .footer_icon_link a{
  color: #DADADD;
  margin-bottom: 10px;
  text-decoration: none;
  
 }
 .footer_icon_mail i{

  color: #DADADD;
  margin-right: 20px;
  
 }
 .footer_icon_mail {
  color: #DADADD;
  margin-right: 20px;
  margin-left: 40px;
 }
 .copyright{
  background: #222224;
  color: #a5a5ad;
  font-size: 15px;
  
 }
 .copyright p{
  margin: 0 auto;
  padding: 40px;

 }




